html
    head
        title= 'Nautilus'
        link(rel='stylesheet', href='stylesheets/index.css')
    body
        div(class='title-bar')
            div(class='title-bar-text')
                h2= 'Nautilus'
        div(class='client-selector')
            form(id='domain-form', action='/', method='post')
                p= 'Select a client domain to get started:'
                select(id='client-select-box', name='clientDomain')
                    each domain in domains
                        option(value=domain) #{domain}
                input(id='go-button', type='submit', value='Go')