html
    head
        title= 'Nautilus'
        script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
        link(rel='stylesheet', href='stylesheets/custom.css')
        script(src='/socket.io/socket.io.js')
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        nav(class="navbar navbar-default navbar-fixed-top navbar-inverse")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button", class="navbar-toggle collapsed",
                    data-toggle="collapse", data-target="#nautilus-navbar-collapse",
                    aria-expanded="false")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand", href='/')
                div(class="collapse navbar-collapse" id="nautilus-navbar-collapse")
                    ul(class="nav navbar-nav")
                        li(class="active")
                            a(href="/") Shell
                            span(class="sr-only") (current)
                        if user.isAdmin
                            li
                                a(href="/admin") Admin
                    ul(class="nav navbar-nav navbar-right")
                        li
                            a(href="#", onclick='cleanExit();')= 'End Session: ' + clientRec.domain
        div(id='auth-overlay', class='page-loader')
            div(class='container main')
                div(class="col-md-6 col-md-offset-3")
                    div(class="well")
                        h3(class='text-center') Enter credentials for #{clientRec.name}:
                        hr
                        form(id='login-form', method='post')
                            div(class="form-group")
                                label(for='username') Username:
                                input(class="form-control input-lg", type='text', name='username', id='username', autofocus)
                            div(class="form-group")
                                label(for='password') Password:
                                input(class="form-control input-lg", type='password', name='password', id='password')
                            a(role='button', type="button", class="btn btn-default btn-lg", href="/") Cancel
                            span(class="pull-right")
                                button(class="btn btn-primary btn-lg", type='submit', id='login') Login
        div(class='command-output', id='out')
        footer(class="footer")
            div(class="container-fluid")
                div(class="form-horizontal")
                    div(class="form-group", id='in')
                        label(for="command" class="col-sm-1 control-label lb-lg") Command:
                        div(class="col-sm-10")
                            input(id="command", class="input-lg form-control", type="text", autofocus, autocomplete="off")
    script(src='/scripts/webShell.js')
    if !clientRec.defaultCreds
        - var username;
        - var password;
        script.
            $(function() {
                $('#auth-overlay').css('display', 'block');
                $('#username').focus();
                $('#login-form').submit(function(e) {
                  username = $('#username').val();
                  password = $('#password').val();
                  $('#auth-overlay').css('display', 'none');
                  $('#command').focus();
                  init('#{clientRec.domain}', username, password);
                  e.preventDefault();
                });
            })
    else
        script.
            init('#{clientRec.domain}');
